{% assign homePage = site.pages | where: 'layout', 'home' %}
<header class="header {{ page.layout | downcase | escape }}" role="banner">

  <div class="header-top">
    <div class="container">

      <div class="grid-middle">

        <div class="col-4_sm-12 text-center-sm padding-sm">
          <a class="logo" href="{{ "/" | relative_url }}"><img src="{{ "/assets/images/logo.png" | relative_url }}"/></a>
        </div>

        <div class="col-8_sm-12 text-right text-center-sm">
          <ul class="nav-link-section">
            {% for item in site.menus.header %}
              {% unless item.parent %}
                <li class="nav-link-item">
                  <a class="{% if item.title == 'Buy Tickets' %}button{% else %}nav-link{% endif %}" href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
                  {% if item.identifier %}
                    <ul class="nav-link-sub-section">
                      {% for subItem in site.menus.header %}
                        {% if subItem.parent == item.identifier %}
                          <li class="nav-link-sub-item">
                            <a class="nav-sub-link" href="{{ subItem.url }}" title="Go to {{ subItem.title }}">{{ subItem.title }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endunless %}
            {% endfor %}
          </ul>
        </div>

      </div>

    </div>
  </div>
  {% if homePage[0].show_promotional_banner %}
    <div class="header-bottom">
      <p>{{ homePage[0].promotional_banner }}</p>
    </div>
  {% endif %}

</header>
