{% assign homePage = site.pages | where: 'layout', 'home' %}
<header class="header {{ page.layout | downcase | escape }}" role="banner">

  <div class="header-top">
    <div class="container">

      <div class="grid-middle">

        <div class="col-4_sm-12 text-center-sm padding-sm">
          <a class="logo" href="{{ "/" | relative_url }}"><img src="{{ "/assets/images/logo.png" | relative_url }}"/></a>
        </div>

        <div class="col-8_sm-12 text-right text-center-sm">
          {% include nav-section.html %}
        </div>

      </div>

    </div>
  </div>
  {% if homePage[0].show_promotional_banner %}
    <div class="header-bottom">
      <p>{{ homePage[0].promotional_banner }}</p>
    </div>
  {% endif %}

</header>
