---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "grid";
@import "normalize";

/* Variables
=================================*/
$colorAccent: #926BA2;
$colorAccentDark: #60406D;

@mixin backgroundAccent($opacity) {
  background: rgba(146, 107, 162, $opacity);
}

/* Default
=================================*/
* {
  box-sizing: border-box;
}
body {
  position: relative;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
  background: #000;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px 0;
  font-weight: 700;
  text-transform: uppercase;
}
h1, .h1 {font-size: 36px;}
h2, .h2 {font-size: 32px;}
h3, .h3 {font-size: 28px;}
h4, .h4 {font-size: 24px;}
h5, .h5 {font-size: 20px;}
h6, .h6 {font-size: 16px;}
a {
  text-decoration: none;
  color: #fff;
  &:hover {
    text-decoration: underline;
  }
}
p {
  margin: 0 0 10px 0;
}
img {
  display: block;
  max-width: 100%;
}
strong {
  font-weight: 700;
}
blockquote {
  position: relative;
  display: inline-block;
  margin: 0 0 20px 0;
  font-size: 24px;
  p {
    position: relative;
    z-index: 5;
  }
  cite {
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    font-style: italic;
    text-align: right;
  }
  &:before {
    content: '';
    position: absolute;
    top: 10px;
    left: -15px;
    z-index: 1;
    display: block;
    width: 30px;
    height: 28px;
    background-image: url('/assets/images/quote-left.svg');
    background-repeat: no-repeat;
    opacity: 0.25;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 10px;
    right: -15px;
    z-index: 1;
    display: block;
    width: 30px;
    height: 28px;
    background-image: url('/assets/images/quote-right.svg');
    background-repeat: no-repeat;
    opacity: 0.25;
  }
}

/* Global
=================================*/
.button {
  display: inline-block;
  vertical-align: top;
  padding: 5px 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  background: $colorAccent;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
    background: $colorAccentDark;
  }
  &.button--invert {
    color: $colorAccent;
    background: #fff;
    &:hover {
      text-decoration: none;
      color: #fff;
      background: $colorAccent;
    }
  }
}
.un-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.inline {
  display: inline-block;
  vertical-align: top;
}
.padding {
  padding-bottom: 20px;
}

/* Header
=================================*/
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
}
.header-top {
  padding: 16px;
  background: rgba(0,0,0,0.4);
}
.logo {
  display: block;
  width: 250px;
  img {
    width: 100%;
  }
}
.nav-link {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  font-weight: 700;
  line-height: 34px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: $colorAccent;
  }
}
.header-bottom {
  padding: 10px;
  text-align: center;
  color: #fff;
  @include backgroundAccent(0.4);
  p {
    margin: 0;
    font-size: 12px;
  }
}

/* Home
=================================*/
.banner {
  position: relative;
  img {
    width: 100%;
  }
}
.banner-text {
  position: absolute;
  top: 50%;
  left: 10%;
  z-index: 5;
  width: 40%;
  transform: translate(0, -50%);
  h2 {
    font-size: 64px;
    font-weight: 300;
    line-height: 72px;
    text-transform: none;
    color: #fff;
  }
}
.home-section {
  padding: 60px 0;
}
.home-testimonials {
  text-align: center;
  background: $colorAccent;
}

/* Footer
=================================*/
.footer-top {
  padding: 30px;
  text-align: center;
  background: $colorAccentDark;
  h3 {
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 0 0;
    font-weight: 300;
    line-height: 34px;
    text-transform: none;
  }
}
.footer-middle {
  padding: 30px;
  background: $colorAccent;
}
.logo-footer {
  display: block;
  width: 100%;
}
.footer-bottom {
  padding: 5px 0;
  font-size: 14px;
  text-transform: uppercase;
  background: $colorAccent;
  border-top: 1px solid rgba(255,255,255,0.1);
  p {
    margin: 0;
    opacity: 0.5;
  }
}