<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="template-{{ page.layout | downcase | escape }}">

    <div class="wrapper">

      <div class="overlay"></div>

      {% include header.html %}

      {{ content }}

      {% include footer.html %}

    </div>

    <div class="mobile-menu">
      <ul class="mobile-nav-link-section">
        {% for item in site.menus.header %}
          {% unless item.parent %}
            <li class="mobile-nav-link-item">
              {% if item.identifier %}
                <span class="{% if item.title == 'Get Tickets' %}button button--dark button--full{% else %}mobile-nav-link mobile-nav-link--fake{% endif %}"  title="Section for {{ item.title }}">{{ item.title }}</span>
                <ul class="mobile-nav-link-sub-section">
                  {% for subItem in site.menus.header %}
                    {% if subItem.parent == item.identifier %}
                      <li class="mobile-nav-link-sub-item">
                        <a class="mobile-nav-sub-link" href="{{ subItem.url }}" title="Go to {{ subItem.title }}">{{ subItem.title }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                <a class="{% if item.title == 'Get Tickets' %}button button--dark button--full{% else %}mobile-nav-link{% endif %}" href="{{ item.url }}" title="Go to {{ item.title }}">{{ item.title }}</a>
              {% endif %}
            </li>
          {% endunless %}
        {% endfor %}
      </ul>
    </div>

  </body>

</html>
