---
layout: default
---
<div class="home">

  <div class="banner">
    <div class="banner-text">
      <h2>Experience the <strong>greatest</strong> story ever told.</h2>
    </div>
    <img src="{{ "/assets/images/banner.jpg" | relative_url }}" />
  </div>

  <div class="home-section">
    <div class="container">
      <div class="grid-center">

          <div class="col-6">
            <h3>2018 marks our 19th season</h3>
            <p>Once again Oak Valley Productions Inc. presents the inspiring drama of Manitoba's Passion Play at its scenic outdoor theatre site near La Riviere, Manitoba.</p>
            <p>Numerous volunteers from all across southern Manitoba, including cast, crew, front of house personnel and many more work together to present this unique Manitoba event. Year after year many are still discovering this hidden gem.</p>
          </div>

      </div>
    </div>
    
  </div>

  <div class="home-section home-testimonials">
    <blockquote>
      <p>We really enjoyed this production. It is our second time and we wouldn't hesitate to return.</p>
      <cite>Bill & Valerie, Teulon, MB</cite>
    </blockquote>
  </div>

  <div class="home-section">
    <div class="container">
      <div class="grid-center">

          <div class="col-6">
            <h3>Live Orchestra</h3>
            <p>Returning for 2018, a group of musicians led by Christian Kantz and Jason Dyck of Winkler will volunteer their time and talents to provide musical accompaniment composed by Micheal Janzen and commissioned by Oak Valley for Manitoba's Passion Play.</p>
          </div>

      </div>
    </div>
    
  </div>

</div>
