---
layout: default
---
<div class="home">

  <div class="banner">
    <div class="banner-text">
      <h2>Experience the <strong>greatest</strong> story ever told.</h2>
    </div>
    <img src="{{ "/assets/images/banner.jpg" | relative_url }}" />
  </div>

  <div class="home-section">
    <div class="container">
      <div class="grid-center">

          <div class="col-6_md-8_sm-12">
            <h3>{{ page.top_section_title }}</h3>
            <p>{{ page.top_section_content }}</p>
          </div>

      </div>
    </div>
    
  </div>

  <div class="home-section home-testimonials">
    {% for testimonial in page.testimonials %}
    <div class="home-testimonials-slide">
      <blockquote>
        <p>{{ testimonial.testimonial_content }}</p>
        <cite>{{ testimonial.testimonial_author }}</cite>
      </blockquote>
    </div>
    {% endfor %}
  </div>

  <div class="home-section">
    <div class="container">
      <div class="grid-center">

          <div class="col-6_md-8_sm-12">
            <h3>{{ page.bottom_section_title }}</h3>
            <p>{{ page.bottom_section_content }}</p>
          </div>

      </div>
    </div>
    
  </div>

</div>
