---
layout: default
---
<div class="home">

  <div class="banner">
    <div class="banner-text">
      <h2>Experience the <strong>greatest</strong> story ever told.</h2>
    </div>
    <img src="{{ "/assets/images/banner.jpg" | relative_url }}" />
  </div>

  <div class="home-section">
    <div class="container">
      <div class="grid-center">

          <div class="col-6_md-8_sm-12 padding">
            <h3>Plan to celebrate with us in 2019!</h3>
            <p>Special celebration events are being planned. Organize a bus with your church, family or friends. Bring your lawn chairs and come and enjoy the life of Jesus Christ unfold before your eyes in a beautiful outdoor setting.</p>
            <p>Outdoor Mass on SUnday July 14, 2019 at 4pm with Celebrant Archbishop Albert Legatt of the St. Boniface Diocese.</p>
          </div>

      </div>

      <div class="grid-center">

          <div class="col-6_md-8_sm-12">
            <h5>Interview with His Grace, Archbishop Gagnon</h5>
            <iframe width="100%" height="400" src="https://www.youtube.com/embed/cMEHTGkhX2I" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>

      </div>
    </div>
    
  </div>

  <div class="home-section home-testimonials">
    {% for testimonial in page.testimonials %}
    <div class="home-testimonials-slide">
      <blockquote>
        <p>{{ testimonial.testimonial_content }}</p>
        <cite>{{ testimonial.testimonial_author }}</cite>
      </blockquote>
    </div>
    {% endfor %}
  </div>

  <div class="home-section">
    <div class="container">
      <div class="grid-center">

          <div class="col-6_md-8_sm-12">
            <h3>{{ page.bottom_section_title }}</h3>
            <p>{{ page.bottom_section_content }}</p>
          </div>

      </div>
    </div>
    
  </div>

</div>
