---
layout: default
---
<div class="page">
  <div class="container">
    <div class="grid-center">

      <div class="col-6_md-8_sm-10_xs-12">
        <h1>{{ page.title }}</h1>
        <p>Click an image to view it larger</p>
        <div class="gallery">
          <div class="grid">
            {% for photo in page.photos %}
              <div class="col-4_sm-6 padding">
                <div class="gallery-item" href="{{ photo | relative_url }}">
                  <img class="gallery-img" src="{{ photo | relative_url }}" />
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>

    </div>
  </div>
</div>